!!!
html
	head
		title= title
		meta(http-equiv="Content-Type",content="text/html,charset=UTF-8")
		link(rel='stylesheet', href='http://vjs.zencdn.net/c/video-js.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.6.1.min.js")
		script(src="http://vjs.zencdn.net/c/video.js")
		script(src="/javascripts/script.js")
	body!= body