* {
	padding: 0;
	margin: 0
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #aaaaaa;

}

a:visited {
	color: #333333;
}

h1 {
	margin: 0 0 10px;
	font-weight: 700;
	color: #456;
}

body {
	background-color: #EDEEEF;
}

div#wrap {
	margin: 0 auto;
	width: 980px;
	margin-top: 50px;
}

.clearfix {
	clear: both
}

/*video info box*/

div#info {
	padding: 30px 15px;
	border: 1px solid #E9EBEF;
	border-top: 0;
	border-bottom: 1px solid #E9EBEF;
	position: relative;
	color: #71767A;
	background-color: #F4F5F7;

}

div#info .description_wrapper {
	margin-top: 20px;
}

div#info .description {
	font-size: 16px;
	line-height: 21px;
}

div#info a#author {
	margin: 0 10px;
}

/*timeline style*/

div#timeline {
	border: 1px solid #E9EBEF;
	border-top: 0;
	border-bottom: 1px solid #E9EBEF;
	height: 20px;
	background-color: white;

	position: relative;
	margin-top: 10px;
}

div#timeline div.marker {
	border-right: 1px solid #E9EBEF;
	position: absolute;
	top: 0;
	cursor: pointer;
	background-color: #F4F5F7;
	height: 20px;
	width: 10px;
}

div#timeline div.tooltip {
	position: absolute;
	bottom: 40px;
	/*display: hidden;*/
	width: 300px;
	min-height: 50px;
	overflow: hidden;
	background-color: white;
	opacity: 0.8;
	padding: 20px;
	display: none;

}

time.start_time {

	cursor: pointer;
	color: #666666;

}

/*control area style*/

#control {
	text-align: center
}

button#btn_show_share, button#btn_show_comment {
	cursor: pointer;
	color: #456;
	width: 300px;
	height: 50px;
	background-color: #F4F5F7;

	border: 0;
	margin: 10px;
	font-size: 20px;
	text-shadow: 0 1px #fff;
	border: 1px solid #E9EBEF;
	border-top: 0;
	border-bottom: 1px solid #E9EBEF;
}

button#btn_show_share:hover, button#btn_show_comment:hover {
	color: #666666;
	background-color: white;

}

/*comments area style*/

div#comments {
	margin-top: 20px;
}

div#comments img.portrait {
	border: 10px white solid;
	box-shadow: 0px 1px 1px 0px #CCC;
	margin-right: 20px;
	width: 40px;
}

div#comments div.comment {
	float: left;
}

div#comments div.text {
	clear: left
}

div#comments a.name {
	margin-right: 10px;
}

div#comments article {
	padding: 20px;

	min-height: 60px;
	background-color: #F4F5F7;
	border-bottom: 1px solid #E9EBEF;
}

div#comments article:nth-child(odd) {
	background-color: #eeeff0;
}

div#comments article a {
	float: left;
}

div#make_comment {
	text-align: center;
	display: none;
}

/*comment form style*/

button#btn_make_comment_time, button#btn_make_comment_submit {
	cursor: pointer;
	color: #456;

	background-color: #F4F5F7;

	border: 0;
	margin: 10px;
	font-size: 15px;
	text-shadow: 0 1px #fff;
	border: 1px solid #E9EBEF;
	border-top: 0;
	border-bottom: 1px solid #E9EBEF;
	padding: 10px;
}

input#make_comment_time {
	width: 60px;
	padding: 10px;
}

input#make_comment_context {
	width: 400px;
	padding: 10px;
}

/*videojs player style overwrite*/

.vjs-default-skin .vjs-big-play-button, .vjs-default-skin div.vjs-big-play-button span {
	outline: 0
}

.video-js {
	background: transparent;
}